@{

var pd = ViewBag.Produit;




}

<main class="page-content">


	<div class="card">
		<div class="card-body">
			<div class="d-flex flex-column align-items-center text-center">
				<img src="~/Content/assets/images/products/01.png" alt="Admin" class="rounded-circle" width="150">
				<div class="mt-3">

					<h4>@pd.Nom</h4>

					<a type="button" href="SupprimerProduit?id=@pd.id" class="btn btn-danger btn-icon-text">Supprimer</a>
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ProduitForm">Modifier</button>
				</div>
			</div>
		</div>
	</div>




	<div class="col-md-12">
		<div class="card mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col-sm-3">
						<h6 class="mb-0">Nom Produit</h6>
					</div>
					<div class="col-sm-9 text-secondary">
						@pd.Nom
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-3">
						<h6 class="mb-0">Quantite</h6>
					</div>
					<div class="col-sm-9 text-secondary">
						@pd.Quantite
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-3">
						<h6 class="mb-0">Categorie</h6>
					</div>
					<div class="col-sm-9 text-secondary">
						@pd.Category
					</div>
				</div>


				<hr>
				<div class="row">
					<div class="col-sm-3">
						<h6 class="mb-0">Prix</h6>
					</div>
					<div class="col-sm-9 text-secondary">
						@pd.Prix
					</div>
				</div>


			</div>
		</div>

		<div class="card mt-3">
			<ul class="list-group list-group-flush">
				<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
					<h6 class="mb-0">Description</h6>


				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">


					<span class="text-secondary">@pd.Description</span>
				</li>
			</ul>
		</div>



	</div>

</main>



<form action="../Product/ModifierProduit" method="post">
	<input type="hidden" class="form-control" value="@pd.id" name="id" placeholder="">

	<div class="modal fade" id="ProduitForm" tabindex="-1" style="display: left;" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Produit</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">


					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="card">
								<div class="card-header py-3 bg-transparent">
									<h5 class="mb-0">Ajouter Produit</h5>
								</div>
								<div class="card-body">
									<div class="border p-3 rounded">
										<div class="row g-3">
											<div class="col-12">
												<label class="form-label">Nom Produit</label>
												<input type="text" name="nom" class="form-control" placeholder="Product title">
											</div>
											<div class="col-12">
												<label class="form-label">Description</label>
												<textarea class="form-control" name="description" placeholder="Entrer votre description" rows="4" cols="4"></textarea>
											</div>
											<div class="col-12">
												<label class="form-label">Image</label>
												<input class="form-control" name="image" type="file">
											</div>
											<div class="col-12">
												<label class="form-label">Quantite</label>
												<input type="text" name="quantite" class="form-control" placeholder="Enterer Quantite">
											</div>
											<div class="col-12 col-md-6">
												<label class="form-label">Categorie</label>
												<select class="form-select" name="categorie">
													<option value=""></option>
													<option value="Sport">Sports</option>
													<option value="Electronics">Electronics</option>
													<option value="Livre">Livres</option>
													<option value="Vetement">Vetements</option>
												</select>
											</div>

											<div class="col-12">
												<label class="form-label">Prix</label>
												<div class="row g-3">
													<div class="col-lg-9">
														<input type="text" name="prix" class="form-control" placeholder="Price">
													</div>
													<div class="col-lg-3">
														<div class="input-group">
															<select name="devise" class="form-select">
																<option value=""></option>
																<option value="DH"> DH </option>
																<option value="USD"> USD </option>
																<option value="EUR"> EUR </option>
															</select>
														</div>
													</div>
												</div>
											</div>


										</div>
									</div>
								</div>
							</div>
						</div>
					</div>



				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
					<button type="submit" class="btn btn-primary">Modifier</button>
				</div>
			</div>
		</div>
	</div>



</form>			